*{
    margin: 0;
    padding: 0;
}
/* ---------------section colours------------------ */
.bg_ar
{
color:  #17c1e8 !important;
}
.why_us i{
    font-size: 24px;
}
.bg_w{
    background-color: #fff;
}
.bg_y{
    background:linear-gradient(310deg, rgb(20, 23, 39), rgb(58, 65, 111));
}
.bg_color2{
    background-color:#f6f6f6 !important;
    margin: 0 !important;
    width: 100% !important;
    padding-bottom: 30px;
    padding-top: 30px;
}
.services_bg_image1{
    margin: 0;
    padding: 0;
    background-image: url(../images/ml_banner.webp);
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover !important;
    background-attachment: fixed;
    z-index: -1;
}
/* -------------------- .services_top_section2----------------------- */
.services_top_section2{
    height:350px;
}
.services_top_section2 .padding_top{
    padding: 35px !important;
    align-items: center;
}
.services_top_section2 .padding_top .text_bg{
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: rgba(0, 0, 0, 0.349);
    padding: 3px 15px 3px;
    line-height: 55px;
    color: #ebe7e7;
}

.services_top_section2 .padding_top .text_bg_p{
  line-height: 30px;
}
/* ------------- Technologies ------------- */
.tech_stack i{
    font-size: 60px !important;
  }
.tech_stack i:hover{
    font-size: 60px !important;
    color:  #17c1e8;
    transition: 1s;
    cursor:pointer;
  }

.tech_stack_col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px 2px;
}
/* ---------out source-------------- */
.case_study .case_img{
    background-image: url(../images/outsource1.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 500px !important;
    width: 100% !important;
  
  }
/* ------------- ML form --------- */
.bg_light_grey{
    background-color: #f6f6f6;
}

.achievements_container .achievements_container_div img{
    height: 150px;
    width: 150px;
}
 /* --------------- ML customers--------------- */
 .ml_customers .cus_img{
    width: 285px;
    height: 127px;
 }
