*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    /* border: 1px solid black; */
}

/* ---------------- body Background Image -----------  */
#product_delivery_body{
    background: url(../images/productDelivery/DSC_8972.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* should change below 1225px  */
    background-repeat: no-repeat;
}

/* --------------- first section ----------------  */
#first_img_section .container .text_bg{
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: rgba(0, 0, 0, 0.349);
    padding: 3px 15px 3px;
    line-height: 55px;
    color: #ebe7e7;
}
.cursor_pointer{
    cursor: pointer;
}
/* ---------------------- projects made------------  */
#projects_made .container .play_btn{
    height: 76px;
    width: 76px;
    position: absolute;
    cursor: pointer;
    transition: opacity .3s;
    opacity: .72;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
}
#projects_made .container .play_btn:hover{
    opacity: 1;
}


/* .owl-carousel .owl-item img {
    width: 100%;
} */


/* -------------- ABOUT CSS-------------- */

/* contact Now- button bg-#fff for hover */
.btn_contact_now:hover{
    background: #fff !important;
    color: black !important;
}
.bg_theme{
    background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253)) !important;
}
.font_color{
    color: #17C1E8;
}
.font_color:hover{
    color: black;
}

/* Tell Us About Your Project - Add file btn  */
#add_file:hover{
    color: #fff !important;
    border: 1px solid #17C1E8;
    background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253)) !important;
}
#add_file i{
    color: #17C1E8;
}
#add_file:hover i{
    color: #fff !important;
}
#btn_send:hover{
    background: #fff !important;
    color: #17C1E8 !important;
}
.border_theme{
    border: 1px solid #17C1E8;
}
textarea {
    resize: none;
}
.achievements_container .achievements_container_div img{
    height: 150px;
    width: 150px;
}
/* --------------------------------  */

/* ---------------- SOLUTIONS CSS ------------ */
/*-------------------- how we start section----------------- */
.bg_color_grey{
    width:100% !important;
    background-color: #f6f6f6;
    margin: 0 !important;
    padding-bottom: 30px;
    padding-top: 30px;
}
.we_start_sec .start_box{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 950px;
    justify-content: space-between;
    margin: auto;
}
.we_start_sec .start_box .icons_container{
    width: 150px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
.we_start_sec .start_box .icons_container:after{
    content: "";
    position: absolute;
    width: 85%;
    top: 89px;
    left: 10px;
    height: 4px;
    background: linear-gradient(90deg,#17C1E8 0%,#17C1E8 15%,#17C1E8 32%,#17C1E8 52%,#17C1E8 60%,rgba(75,176,228,1) 65%,75.5%,rgba(75,176,228,1) 69%,rgba(55,150,199,1) 100%);
}

.we_start_sec .start_box .icons_container .icon_circle{
    width: 72px;
    height: 72px;
    position: relative;
    margin: 21px 0 25px 0;
    background-color: #17C1E8;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}
.we_start_sec .start_box .icons_container .icon_circle_blue{
    background-color: rgba(55,150,199,1);
}
.we_start_sec .start_box .icons_container .color_blue2{
    background-color:rgb(72, 172, 222) !important;
}
.we_start_sec .start_box .icons_container .color_blue1{
    background-color: rgba(157,212,237,1) !important;
}
.we_start_sec .start_box .icons_container i{
    font-size: 30px !important;
    z-index:9;
}
/* ----------------------- carrousel How project made solution-------------------------------------- */
.solution_top_section4{
    display: flex;
    flex-direction: column;   
    padding-bottom:20px;   
}
.solution_top_section4 .sol_logo{
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 179px;
    margin: auto auto 0;
}
.solution_top_section4 .sol_logo1{
    height: 60px;
    width: 70px;
    margin: auto auto 0;
}
.solution_top_section4 .sol_video .playicon{
    font-size: 60px;
    position: relative;
    top: 34%;
    left: 48%;
}
.solution_top_section4 .sol_video{
    max-width: 465px;
    width: 100%;
    aspect-ratio: 465/290;
     background-size: cover;
}
.solution_top_section4 .quote{
    margin: 20px 0 0;
    font-size: 20px;
    line-height: 1.5em;
}
.solution_top_section4 blockquote::before {
    content:  "🙷";
    color:#a8a8a8;
    font-size: xx-large !important;
    padding:3px;
}

.solution_top_section4 blockquote::after {
    content:  "🙷";
    color:#a8a8a8;
    font-size: xx-large !important;
    padding-left: 2px !important;
}
/* --------------------------------------------  */


/* ------------------------WEB DEVELOPMENT CSS ------------------ */
/* ----------------selected cases sec------------------------- */
.bg_color2{
    background-color:#f6f6f6 !important;
    margin: 0 !important;
    width: 100% !important;
    padding-bottom: 30px;
    padding-top: 30px;
}
.selected_cases .container .owl-carousel .item a{
    position: relative;
    overflow: hidden;
}
.selected_cases .container .owl-carousel-item a {
    display: block;
}

.selected_cases .container .owl-carousel .item a img {
    transition: transform 0.10s ease-in-out;
}
.selected_cases .container .owl-carousel .item:hover  a img {
    transform: scale(1.2);
}
.selected_cases .container .owl-carousel .item .flag_icon{
    background-image: url(../images/india-flag-icon.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    background-position: center;
    border-radius: 60%;
}
.owl-theme .owl-dots .owl-dot span,.owl-theme .owl-dots .owl-dot span:hover{
    background-color:#fff !important;
    border: 2px solid #17C1E8 !important;
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot.active span:hover{
    background-color: #17C1E8 !important;
    border: none !important;
}
.owl-theme .owl-nav{
    display: none;
}
.owl-theme .owl-dots{
    margin-top: 10px !important;
}
.selected_cases .container .owl-carousel .item_box:hover img {
    transform: rotate(5deg) scale(1.2);
    
}

/* -----------------------------------------------------------------------  */



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* ipad air  */
@media only screen and (max-device-width: 820px) {

    /* --------------- ABOUT CSS ----------------- */
    .achievements_container_div{
        gap: 15px;
    }
    .achievements_container .achievements_container_div img{
        height: 100px;
        width: 100px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* --------------- ABOUT CSS ----------------- */
    .achievements_container .achievements_container_div img{
        height: 90px;
        width: 90px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #first_img_section .container .text_bg{
        line-height: 45px;
    }
    /* --------------- ABOUT CSS ----------------- */
    .achievements_container .achievements_container_div img{
        height: 80px;
        width: 80px;
    }
}

/* /* ---- iphone 13pro max ---------- */
@media only screen and (max-device-width: 430px) {
   
    
}

/* /* ---- iphone XR max ---------- */
@media only screen and (max-device-width: 414px) {
}

/* pixel 5  ----------- */
@media only screen and (max-device-width: 393px) {
}

/* iPhone 12 pro ----------- */
@media only screen and (max-device-width: 390px) {
    
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (max-device-width: 375px) {
}

/* samsung galaxy  */
@media only screen and (max-device-width: 360px) {
}


